<main class="main-container">

    <div class="container">

        <div class="row">
            <div class="col-lg-4 mt-3 mb-4">

                <section>
                    <h5 class="mb-3">Categories</h5>

                    <div class="text-muted small text-uppercase mb-5">
                        <p class="mb-3" *ngFor="let category of categories">
                            <a href="#!" class="card-link-secondary">{{category.name}}</a>
                        </p>
                    </div>
                </section>

                <!-- Section: Filters -->
                <section>
                    <h5 class="mb-4">Filters</h5>

                    <section class="mb-4">
                        <div class="md-form md-outline mt-0 d-flex justify-content-between align-items-center">
                            <input type="text" id="search12" class="form-control mb-0" placeholder="Search...">
                            <a href="#!" class="btn btn-flat btn-md px-3 waves-effect"><i
                                    class="fas fa-search fa-lg"></i></a>
                        </div>
                    </section>

                    <!-- Section: Average -->
                    <section class="mb-4">
                        <h6 class="font-weight-bold mb-3">Avg. Customer Review</h6>

                        <a href="#!">
                            <ul class="rating">
                                <li>
                                    <i class="fas fa-star fa-sm primary"></i>
                                </li>
                                <li>
                                    <i class="fas fa-star fa-sm primary"></i>
                                </li>
                                <li>
                                    <i class="fas fa-star fa-sm primary"></i>
                                </li>
                                <li>
                                    <i class="fas fa-star fa-sm primary"></i>
                                </li>
                                <li>
                                    <i class="far fa-star fa-sm primary"></i>
                                </li>
                                <li>
                                    <p class="small text-uppercase card-link-secondary px-2">& Up</p>
                                </li>
                            </ul>
                        </a>
                        <a href="#!">
                            <ul class="rating">
                                <li>
                                    <i class="fas fa-star fa-sm primary"></i>
                                </li>
                                <li>
                                    <i class="fas fa-star fa-sm primary"></i>
                                </li>
                                <li>
                                    <i class="fas fa-star fa-sm primary"></i>
                                </li>
                                <li>
                                    <i class="far fa-star fa-sm primary"></i>
                                </li>
                                <li>
                                    <i class="far fa-star fa-sm primary"></i>
                                </li>
                                <li>
                                    <p class="small text-uppercase card-link-secondary px-2">& Up</p>
                                </li>
                            </ul>
                        </a>
                        <a href="#!">
                            <ul class="rating">
                                <li>
                                    <i class="fas fa-star fa-sm primary"></i>
                                </li>
                                <li>
                                    <i class="fas fa-star fa-sm primary"></i>
                                </li>
                                <li>
                                    <i class="far fa-star fa-sm primary"></i>
                                </li>
                                <li>
                                    <i class="far fa-star fa-sm primary"></i>
                                </li>
                                <li>
                                    <i class="far fa-star fa-sm primary"></i>
                                </li>
                                <li>
                                    <p class="small text-uppercase card-link-secondary px-2">& Up</p>
                                </li>
                            </ul>
                        </a>
                        <a href="#!">
                            <ul class="rating">
                                <li>
                                    <i class="fas fa-star fa-sm primary"></i>
                                </li>
                                <li>
                                    <i class="far fa-star fa-sm primary"></i>
                                </li>
                                <li>
                                    <i class="far fa-star fa-sm primary"></i>
                                </li>
                                <li>
                                    <i class="far fa-star fa-sm primary"></i>
                                </li>
                                <li>
                                    <i class="far fa-star fa-sm primary"></i>
                                </li>
                                <li>
                                    <p class="small text-uppercase card-link-secondary px-2">& Up</p>
                                </li>
                            </ul>
                        </a>
                    </section>
                    <!-- Section: Average -->

                    <!-- Section: Price -->
                    <section class="mb-4">

                        <h6 class="font-weight-bold mb-3">Price</h6>

                        <div class="form-check pl-0 mb-3">
                            <input type="radio" class="form-check-input" id="under25" name="materialExampleRadios">
                            <label class="form-check-label small text-uppercase card-link-secondary" for="under25">Under
                                $5</label>
                        </div>
                        <div class="form-check pl-0 mb-3">
                            <input type="radio" class="form-check-input" id="2550" name="materialExampleRadios">
                            <label class="form-check-label small text-uppercase card-link-secondary" for="2550">$5 to
                                $10</label>
                        </div>
                        <div class="form-check pl-0 mb-3">
                            <input type="radio" class="form-check-input" id="50100" name="materialExampleRadios">
                            <label class="form-check-label small text-uppercase card-link-secondary" for="50100">$10 to
                                $15</label>
                        </div>
                        <div class="form-check pl-0 mb-3">
                            <input type="radio" class="form-check-input" id="100200" name="materialExampleRadios">
                            <label class="form-check-label small text-uppercase card-link-secondary" for="100200">$15 to
                                $20</label>
                        </div>
                        <div class="form-check pl-0 mb-3">
                            <input type="radio" class="form-check-input" id="200above" name="materialExampleRadios">
                            <label class="form-check-label small text-uppercase card-link-secondary" for="200above">$20
                                & Above</label>
                        </div>
                        <form>
                            <div class="d-flex align-items-center mt-4 pb-1">
                                <div class="md-form md-outline my-0">
                                    <input id="from" type="text" class="form-control mb-0">
                                    <label for="form">$ Min</label>
                                </div>
                                <p class="px-2 mb-0 text-muted"> - </p>
                                <div class="md-form md-outline my-0">
                                    <input id="to" type="text" class="form-control mb-0">
                                    <label for="to">$ Max</label>
                                </div>
                            </div>
                        </form>

                    </section>
                    <!-- Section: Price -->

                </section>
                <!-- Section: Filters -->

            </div>
            <div class="col-lg-8">

                <!-- Section: Block Content -->
                <section>

                    <div class="row d-flex justify-content-around align-items-center mb-4">
                        <div class="col-12 col-md-3 text-center text-md-left">
                            <a href="#!" class="text-reset"><i class="fas fa-th-list fa-lg mr-1"></i></a>
                            <a href="#!" class="text-reset"><i class="fas fa-th-large fa-lg"></i></a>
                        </div>
                        <div class="col-12 col-md-5">
                            <div class="d-flex flex-wrap">
                                <div class="select-outline position-relative w-100">
                                    <select class="mdb-select md-outline md-form">
                                        <option value="" disabled selected>Sort by</option>
                                        <option value="1">Popularity</option>
                                        <option value="2">Price: lowest to highest</option>
                                        <option value="3">Price: highest to lowest</option>
                                        <option value="4">Newest</option>
                                        <option value="5">Most rated</option>
                                    </select>
                                    <label>Sorting</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 text-center">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center float-md-right mb-0">
                                    <li class="page-item"><a class="page-link"><i class="fas fa-chevron-left"></i></a>
                                    </li>
                                    <li class="page-item active"><a class="page-link">1</a></li>
                                    <li class="page-item"><a class="page-link">2</a></li>
                                    <li class="page-item"><a class="page-link">3</a></li>
                                    <li class="page-item"><a class="page-link"><i class="fas fa-chevron-right"></i></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                </section>
                <!-- Section: Block Content -->

                <section>
                    <div class="row mb-4">

                        <div class="col-md-6 col-lg-4 mb-4" *ngFor="let product of products">
                            <!-- Card -->
                            <div class="">
                                <div class="view zoom z-depth-2 rounded">
                                    <img class="img-fluid w-100" [src]="product.pic.url" alt="Sample">
                                    <a [routerLink]="['/', 'products', product.id]">
                                        <div class="mask"></div>
                                    </a>
                                </div>

                                <div class="text-center pt-4">
                                    <h5 class="mb-0">{{product.name}}</h5>
                                    <h5>({{product.dimension.value}} {{product.dimension.unit}})</h5>
                                    <h6 class="mb-3">{{product.price.currency}} {{product.price.value}}</h6>
                                    <button type="button" class="btn btn-primary btn-sm mr-1"
                                        (click)="addToCart(product)"><i class="fas fa-cart-plus"></i></button>
                                    <button type="button" class="btn btn-light btn-sm"
                                        [routerLink]="['/', 'products',product.id]"><i
                                            class="fas fa-info-circle pr-2"></i>Details</button>
                                </div>
                            </div>
                            <!-- Card -->
                        </div>

                    </div>
                </section>

            </div>
        </div>

    </div>

</main>
<!-- Main layout -->