   <!-- Grid row -->
   <div class="row mt-5">


    <div class="col-md-6 col-lg-4 mb-4" *ngFor="let category of categories">
        <div class="">

            <div class="view zoom z-depth-2 rounded">
                <img class="img-fluid" [src]="category?.pic?.url" alt="Sample">
                <a href="#!" class="text-white">
                    <div class="mask rgba-stylish-slight">
                        <div class="d-flex align-items-end h-100 p-3">
                            <h5 class="text-white mb-0">{{category.name}}</h5>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>

</div>

<!-- Grid row -->