<footer class="page-footer font-small elegant-color">

    <div class="color-primary">
        <div class="container">
            <div class="row py-4 d-flex align-items-center">

                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0">Get connected with us on social networks!</h6>
                </div>

                <div class="col-md-6 col-lg-7 text-center text-md-right">
                    <a class="fb-ic" *ngFor="let link of socialLinks">
                        <i class="{{link.icon}} white-text mr-4"> </i>
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class="container text-center text-md-left pt-4 pt-md-5">
        <div class="row mt-1 mt-md-0 mb-4 mb-md-0">

            <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4" *ngFor="let section of footerSections">

                <h5>{{section.title}}</h5>
                <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">

                <ul class="list-unstyled foot-desc">
                    <li class="mb-2" *ngFor="let item of section.links">
                        <a href="#!">{{item}}</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class="footer-copyright text-center py-3">© 2021 Copyright:
        <a href="https://mdbootstrap.com/">organicfarm.com</a>
    </div>

</footer>